# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3

# Django
db.sqlite3
/staticfiles/
media/

# Virtualenv
venv/
C:/
Users\
Nico\
Desktop\
djangoproject

*.pyc
__pycache__/
db.sqlite3
env/
*.env
/staticfiles/
