{% extends 'myapp/base.html' %}

{% block title %}Editar Producto{% endblock %}

{% block content %}
<div class="section">
    <h5>Editar Producto</h5>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="input-field">
            {{ form.marca.label_tag }}
            {{ form.marca }}
        </div>
        <div class="input-field">
            {{ form.precio.label_tag }}
            <input type="number" name="precio" id="id_precio"
           value="{{ form.precio.value|floatformat:0 }}" step="1" min="0">
        </div>
        <button type="submit" class="btn green">Actualizar</button>
        <a href="{% url 'listar_productos' %}" class="btn grey">Cancelar</a>
    </form>
</div>
{% endblock %}
